# Local .terraform folder
# Contiene los binarios de los proveedores y módulos descargados. Nunca se debe subir.
.terraform/

# .tfstate files
# Contienen el estado real de tu infraestructura y datos sensibles (contraseñas, claves, etc.).
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
# Archivos donde se suelen definir los valores reales de las variables.
*.tfvars
*.tfvars.json

# Ignore override files as they may contain local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add (example)
# !example_override.tf

# Include lock file we do wish to add
# El archivo de bloqueo de dependencias SÍ se debe subir para asegurar que el equipo use las mismas versiones.
!.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc